<div id="itemTemplate" class="container-fluid">
	<div class="row page-header">
		<div id="itemImg" class="col-md-6 col-xs-6">
			<img class="img-thumbnail" fallback-src="/static/images/items/default.jpg"  ng-src="//image.tmdb.org/t/p/w342/{{item.itemDetails.poster_path}}" />
		</div>
		<div class="col-md-6 col-xs-6">
			<h4>{{item.itemDetails.title}}</h4>
			<!--<div class="input-group myRankDiv">-->
				<!--<span class="input-group-addon">my rank: </span> <select-->
					<!--class="form-control"  ng-model="myRank">-->
					<!--<option value="0">-&#45;&#45;</option>-->
					<!--<option value="1">1</option>-->
					<!--<option value="2">2</option>-->
					<!--<option value="3">3</option>-->
					<!--<option value="4">4</option>-->
					<!--<option value="5">5</option>-->
				<!--</select>-->
			<!--</div>-->
				<input id="input-user-rank" type="text" ng-model="myRank" ng-change=addRank()>
			<button class="btn btn-default btn-block btn-xs reviewBtn"
				ng-click="addReview()">{{reviewButton}}
			</button>
			<div>
				<span ng-repeat="genre in item.item_genres" class="label genre-label label-default">{{genre}}</span>
			</div>
		</div>
	</div>
	<div ng-show="showReview">
		<p ng-show="errorShow" class="alert alert-danger">{{message}}</p>
		<div class="reviewTextarea">
			<textarea rows="4" class="form-control" maxlength="499"
				ng-model="reviewText"></textarea>
		</div>
		<div class="row container-fluid">
		<div class="col-md-1 col-xs-1"></div>
			<button class="btn btn-success col-md-4 col-xs-4 btn-sm"
				ng-click="sendReview()">
				<strong>send</strong> <span class="glyphicon glyphicon-send"></span>
			</button>
			<div class="col-md-2 col-xs-2"></div>
			<button class="btn btn-danger col-md-4 col-xs-4 btn-sm"
				ng-if="userRank.review_id" ng-click="deleteReview()">
				<strong>delete</strong> <span class="glyphicon glyphicon-trash"></span>
			</button>
			<div class="col-md-1 col-xs-1"></div>
		</div>
	</div>
	<div ng-hide="hideItem">
		<h5 ng-click="followingRanks = !followingRanks">
			<span class="text-muted">Following's rank: </span>
			<input id="followingAvgRank" class="input-rank" type="text"> ({{item.itemRanks.followingCount}} mates)
		</h5>
		<ul ng-show="followingRanks">
			<li ng-repeat="rank in ranksArr">
				<div class="row">
					<a href="#/user/{{rank.username}}"><img class="col-xs-4"
						fallback-src="/static/images/users/default.jpg" ng-src="/static/images/users/{{rank.username}}.jpg" /></a>
					<div class="col-xs-8">
						<h5>
							<a href="#/user/{{rank.username}}">{{rank.username}}</a>
						</h5>
						<div class="row">
							<p class="col-xs-6">rank: {{rank.rank}}</p>
							<button id="reviewBtn{{rank.username}}" ng-click="getReview($index ,rank.username)"
							class="col-xs-6 btn btn-default reviewBtn btn-xs" ng-if="rank.review_text">read review</button>
						</div>
					</div>
				</div>
				<div ng-if="rank.review_text" id="review-{{rank.username}}"
				ng-show="review{{rank.username}}">{{rank.review_text}}</div>

			</li>
		</ul>
		<h5>
			<span class="text-muted">Total rank: </span><input id="totalRank" class="input-rank" type="text"> ({{item.itemRanks.totalCount}} mates)
		</h5>
		<button class="btn btn-primary" ng-click="showDescription()">description</button>
		<p ng-show="description">{{item.itemDetails.overview}}</p>
	</div>
</div>
