<div id="topTemplate" class="container-fluid">
	<div class="row page-header container-fluid">
		<h4>Top Titles</h4>
		<p>
			<select class="form-control" ng-model="selectedCat"
				ng-change="changeCategory()"
				ng-options="category.label for category in categories"></select>
		</p>
		<p>
			<select class="form-control" ng-model="selectedGenre"
				ng-change="changeGenre()"
				ng-options="genre as genre for genre in genreArr"></select>
		</p>
		<div id="headerGroup" class="row">
			<span class="col-xs-6 headerGroupBtn" ng-click="getTopFollowing()"
				ng-class="{selected : showFollowing}">Following</span> <span
				class="col-xs-6 headerGroupBtn" ng-click="getTopAll()"
				ng-class="{selected : !showFollowing}">All</span>
		</div>
	</div>
	<div>
		<ul>
			<li ng-repeat="item in itemsArr" repeat-complete="invokeRanking()">   <!--repeat-complete="invokeRanking(itemsArr)"-->
				<div class="row">
					<a href="#/item/{{item.item_id}}"><img class="col-xs-4 img-thumbnail" err-src="/static/images/items/default.jpg" ng-src="//image.tmdb.org/t/p/w342/{{item.poster_path}}" /></a>
					<div class="col-xs-8">
					<h5>
						<span>{{$index +1}}. </span>
						<a href="#/item/{{item.item_id}}">{{item.title}} ({{item.year}})</a>
					</h5>
					<p>rank:  <input id="rank{{item.item_id}}" class="input-rank" type="text"></p>
					<p>
						<span ng-repeat="genre in item.genres" class="label genre-label label-default">{{genre}}</span>
					</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
