<div id="userTemplate" class="container-fluid">
	<div class="row page-header">
		<div id="userImg" class="col-md-6 col-xs-6">
			<img err-src="/static/images/users/default.jpg" ng-src="/static/images/users/{{user.username}}.jpg?{{currDate}}"
				class="img-rounded img-responsive"
				ngf-src="preview" />
			<div id="imageUpload" class="button glyphicon glyphicon-camera" aria-hidden="true"
				ngf-select
				ngf-capture="'camera'"
				ngf-accept="'image/jpeg'"
				ngf-change="upload($files)">
			</div>
		</div>

		<div id="userDetails" class="col-md-6 col-xs-6 text-center">
			<h4 class="userName">{{user.username}}</h4>
			<h5>
				<a href="#/followers/{{user.username}}">{{user.userFollowersCount}}
					<span class="text-muted">followers</span>
				</a>
			</h5>
			<h5>
				<a  href="#/following/{{user.username}}">{{user.userFollowingCount}}
					<span class="text-muted">following</span>
				</a>
			</h5>
			<h5 ng-show="showIfMyUser">edit my profile</h5>
			<button id="follow" ng-hide="showIfMyUser" ng-class="class"
				ng-click="startFollowing(user.username)" class="btn btn-block btn-xs">{{followingLabel}}</button>
		</div>
	</div>
	<ul>
		<li ng-repeat="rank in ranksArr">
			<div class="row">
				<a href="#/item/{{rank.item_id}}"><img class="col-xs-4 img-thumbnail" err-src="/static/images/items/default.jpg" ng-src="//image.tmdb.org/t/p/w342/{{rank.poster_path}}" /></a>
				<div class="col-xs-8">
					<h5><a href="#/item/{{rank.item_id}}">{{rank.title}}</a></h5>
					<div class="row">
						<p class="col-xs-6"><input star-rank="{{rank.rank}}" class="input-rank" type="text"></p>

					</div>
					<div class="row">
						<p class="col-xs-12"><button id="reviewBtn{{rank.item_id}}" ng-click="getReview($index ,rank.item_id)"
							class="col-xs-6 btn btn-default reviewBtn btn-xs " ng-if="rank.review_text">read review</button></p>

					</div>
				</div>
			</div>
			<div class="review-div" ng-if="rank.review_text" id="review-{{rank.item_id}}"
				ng-show="review{{rank.item_id}}">{{rank.review_text}}

			</div>
		</li>
	</ul>

	<button ng-show="showIfMyUser" ng-click="logout()" class="btn btn-primary pull-right">logout</button>
	<button style="margin-right: 10px" ng-if="user.role == 'admin'" class="btn btn-primary pull-right" ng-click="admin()">admin items manage</button>

</div>
