<div id="userTemplate" class="container-fluid">
	<div class="row page-header">
		<div id="userImg" class="col-md-6 col-xs-6">
			<img fallback-src="/static/images/users/default.jpg" ng-src="/static/images/users/{{user.username}}.jpg"
				class="img-rounded img-responsive" />
		</div>

		<div id="userDetails" class="col-md-6 col-xs-6 text-center">
			<h4 class="userName">{{user.username}}</h4>
			<h5>
				<a href="#/followers/{{user.username}}">{{user.userFollowersCount}}
					<span class="text-muted">followers</span>
				</a>
			</h5>
			<h5>
				<a  href="#/following/{{user.username}}">{{user.userFollowingCount}}
					<span class="text-muted">following</span>
				</a>
			</h5>
			<h5 ng-show="showIfMyUser">edit my profile</h5>
			<button id="follow" ng-hide="showIfMyUser" ng-class="class"
				ng-click="startFollowing(user.username)" class="btn btn-block btn-xs">{{followingLabel}}</button>
		</div>
	</div>
	<ul>
		<li ng-repeat="rank in ranksArr">
			<div class="row">
				<a href="#/item/{{rank.item_id}}"><img class="col-xs-4" fallback-src="/static/images/items/default.jpg" ng-src="http://image.tmdb.org/t/p/h632/{{rank.poster_path}}" /></a>
				<div class="col-xs-8">
					<h5><a href="#/item/{{rank.item_id}}">{{rank.title}}</a></h5>
					<div class="row">
						<p class="col-xs-6">rank: {{rank.rank}}</p>
						<button id="reviewBtn{{rank.item_id}}" ng-click="getReview($index ,rank.item_id)"
							class="col-xs-6 btn btn-default reviewBtn btn-xs" ng-if="rank.review_text">read review</button>
					</div>
				</div>
			</div>
			<div ng-if="rank.review_text" id="review-{{rank.item_id}}"
				ng-show="review{{rank.item_id}}">{{rank.review_text}}</div>
		</li>
	</ul>
	<button ng-show="showIfMyUser" ng-click="logout()" class="btn btn-primary pull-right">logout</button>

</div>
